   @{
        bool isFullscreen = true;//ViewData["IsFullScreen"] as bool? ?? false;
    }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tour Management</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    @await RenderSectionAsync("Styles", required: false)
 
    @if (isFullscreen)
    {
        <style>
            html, body {
                margin: 0;
                padding: 0;
                /* height: 100%; */
                /* overflow: hidden; */
            }
            main {
                padding: 0 !important;
            }
        </style>
    }
</head>
<body>

    @if (isFullscreen)
    {
        <main role="main" style="height:100vh; width:100vw;">
            @RenderBody()
        </main>
    }
    else
    {
        <div class="container">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Tur Yönetimi</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Activities" asp-action="Index">Turlar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Options" asp-action="Index">Seçenekler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="ActivitiesWizard" asp-action="CreateLocation">Lokasyon</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="ActivitiesWizard" asp-action="CreateGuestFields">Misafir Tanımlamaları</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </nav>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - Tour Management
            </div>
        </footer>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
        <script type="text/javascript">
        function sendHeight() {
            parent.postMessage(document.body.scrollHeight, "*");
        }

        window.addEventListener("load", sendHeight);
        window.addEventListener("resize", sendHeight);


    </script>
</body>
</html>
