# ===========================
#   .NET & Visual Studio
# ===========================

# Build artifacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# JetBrains Rider
.idea/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Backup files
*~
*.bak

# OS-specific
.DS_Store
Thumbs.db

# Env files
.env

# NuGet
*.nupkg
.nuget/

# Paket yönetimi
packages/

# Publish output
publish/

# Test results
TestResults/

# Coverage
coverage/

#cursorrules
.cursorrules

# Bunlar normalde ignore edilir ama senin isteğinle dahil ediliyorlar:
!secrets.json
!appsettings.Development.json
!appsettings.Local.json
!appsettings.*.local.json
!Properties/launchSettings.json
!wwwroot/uploads/

/appsettings.json
/Properties/PublishProfiles/Default Settings.pubxml
/wwwroot/uploads/cover/36e75615-2d5a-459c-ab88-12de651df091.jpg
/wwwroot/uploads/cover/a6f5181a-e813-459f-b0bb-9f7d2f75b61f.jpg
/wwwroot/uploads/cover/c6c56237-90fe-4222-a228-4b7871ed5a2e.jpg
/wwwroot/uploads/cover/e06888ca-5975-48c9-9a04-730cfba38c07.jpg
/wwwroot/uploads/cover/e6e1fcaf-8842-407c-96ec-7d5b73877979.jpg
/wwwroot/uploads/gallery/03fed13c-34ba-49ec-85cc-a805a949db2a.jpg
/wwwroot/uploads/gallery/0ee75ae8-ce7f-447e-aec5-110e8a8db4bc.jpg
/wwwroot/uploads/gallery/0fc9d850-798f-40e4-ad2e-e2841c96eb31.jpg
/wwwroot/uploads/gallery/11be5ba0-8433-4371-9889-e46cef71bfd0.jpg
/wwwroot/uploads/gallery/11e384b8-5df4-43b2-9451-01863f879e15.jpg
/wwwroot/uploads/gallery/1648e21b-32a6-47df-a8df-39e0436eaa71.png
/wwwroot/uploads/gallery/30962fb1-55bc-4466-ae22-b90f002c2615.jpg
/wwwroot/uploads/gallery/313d6713-dfe6-4f49-8f4f-058d0728f68a.jpg
/wwwroot/uploads/gallery/548e518e-84d3-4558-a05e-d78409a03b94.png
/wwwroot/uploads/gallery/5f29fe6c-47ed-4c4a-b991-dff9ae48f994.jpg
/wwwroot/uploads/gallery/6361327a-708e-442b-b604-219ac1835798.jpg
/wwwroot/uploads/gallery/7260da2e-89b5-49e2-93e7-df656fe97dfd.jpg
/wwwroot/uploads/gallery/74138871-c1ae-4430-a7f1-e6835427f54d.jpg
/wwwroot/uploads/gallery/74e6b0a4-1159-4a7e-a2af-63d06d5bb6f4.jpg
/wwwroot/uploads/gallery/769dde58-1f8d-4d7d-bbd3-86fc3cf91505.jpg
/wwwroot/uploads/gallery/84b6bf56-bc3b-4ae6-a162-f4cb57c92401.jpg
/wwwroot/uploads/gallery/8b8f10ab-5c16-411c-b604-05726e3dbac7.png
/wwwroot/uploads/gallery/8e1dfd6c-c061-4440-987f-47794f5be968.jpg
/wwwroot/uploads/gallery/9c21221e-2fa7-4660-bc9d-127ac8d9619e.jpg
/wwwroot/uploads/gallery/9ce50876-fd67-4b88-97ec-805cda073b49.jpg
/wwwroot/uploads/gallery/a0a04353-3222-4d01-a168-1bdf1ed778e9.jpg
/wwwroot/uploads/gallery/aa0d4a4a-fb02-41e0-8f4b-0170a6f4bba3.jpg
/wwwroot/uploads/gallery/b7d12d68-4ca3-4ffd-a73b-867797e30a73.png
/wwwroot/uploads/gallery/bd0f6cba-895c-4ee9-82d3-cada9ae3b4c5.png
/wwwroot/uploads/gallery/d93b0f47-2c5e-4cbb-8ef0-83dc8c14593e.jpg
/wwwroot/uploads/gallery/de8c5100-b004-4ebc-9c36-2a4e5f530977.jpg
/wwwroot/uploads/gallery/ee0c2389-a292-43ab-9baa-95a992630b54.png
/wwwroot/uploads/gallery/f25c52c8-971d-4bb3-88a2-9d3dcfecb4b1.jpg
/wwwroot/uploads/gallery/f84aee58-bae0-4373-828c-c7d46a2b336d.png
/wwwroot/uploads/gallery/f87af180-2379-4f89-9db8-0463bc44ebb1.jpg
/wwwroot/uploads/preview/6ba1faa0-702b-4e6c-8eb5-d995c893f04b.jpg
/wwwroot/uploads/preview/7519aa6b-0c27-41d9-a169-11eb3069b66c.jpg
/wwwroot/uploads/preview/a3ab2588-67c8-457d-a5c3-ba11a71891ce.jpg
/wwwroot/uploads/preview/acbb491d-9ac7-4613-beec-f71ddd885723.jpg
/wwwroot/uploads/preview/cf380702-feab-4bca-b260-d2dc1742c4c2.jpg
